body{
    background-color: rgb(94, 91, 91);
}
div#board{
    position: relative;
    width: 1024px;
    height: 862px;
    margin: auto;
    background: url("sea.img/board.jpg") no-repeat;
}
div#messageArea{
    position: absolute;
    top:0px;
    left:0px;
    color:cadetblue;
}
table{
    position: absolute;
    left:173px;
    top:98px;
    border-spacing: 0px;
}
td{
    width: 94px;
    height: 94px;
}
form{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83,175,19);
    
}
form input{
    background-color: rgb(224, 236, 215);
    border-color: rgb(83,175,19);
}
.hit{
    background: url("sea.img/ship.png") center center no-repeat;
}
.miss{
    background: url("sea.img/miss.png") center center no-repeat;
}
